image:
  repository: ghcr.io/asstrid98/image-resizer
  tag: "latest"
  pullPolicy: Always

api:
  replicaCount: 1
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

worker:
  replicaCount: 1
  concurrency: 2
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

redis:
  enabled: true
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "250m"

minio:
  enabled: true
  storage: 1Gi
  rootUser: minioadmin
  rootPassword: minioadmin
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "500m"

postgresql:
  enabled: true
  storage: 1Gi
  user: image-resizer
  password: password123
  database: image-resizer  # Mantenemos el guion que arreglamos

service:
  type: ClusterIP
  port: 5000

route:
  enabled: true
  host: ""

config:
  baseUrl: ""
  storageBucket: "image-resizer"

probes:
  liveness:
    initialDelaySeconds: 45 # Aumentado para dar tiempo a arrancar
    periodSeconds: 15
  readiness:
    initialDelaySeconds: 30
    periodSeconds: 10